[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/css3"]
	path = vim/bundle/css3
	url = git://github.com/hail2u/vim-css3-syntax.git
